
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      iBeautyConnect Under Construction.
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Health and beauty,building a health and beauty community, One stop marketplace,Marketplace for health and beauty services, Find Licensed Health and Beauty Professionals, Health and Beauty app, No subscription, Free Health and Beauty app, Find affordable Beauty Services, Esthetician, Cosmetologist, Barber, Tattoo Artist, Fitness Trainer, Massage Therapist, Chiropractor, Nutritionist"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <link rel="stylesheet" href="css/jquery.countdown.css" />
    <link
      href="css/popup-box.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- web font -->
    <link
      href="//fonts.googleapis.com/css?family=Spectral+SC:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
      rel="stylesheet"
    />
    <!-- //web font -->
    <!-- jS -->
    <script src="js/jquery.min.js"></script>
    <!-- //js -->
  </head>
  <body>
    <!-- main -->
    <div class="main-agile">
      <h1>iBeautyConnect Under Construction</h1>
      <div style=" width:50%; display:auto;margin:0 auto">
        <h4 style="text-align:center;margin-top:20px;">iBeautyConnect is a market place where you can find and promote your health and beauty services. All our Health and Beauty Partners a thoroughly reviewed and are Licensed. Our goal is to build a community of Licensed Health and Beauty Professionals. We are lauching March 31st 2020 on the app store. For US residents only. We plan on expanding to other countries later in the future. Subscribe to our mailing list and get 5 dollars in free credit. We want to make your Health and Beauty journey and enjoyable one. Follow us on facebook and see what we have built so far.</h4>
      </div>
      <div class="w3ls-grids">
        <div class="w3ls-right">
          <div class="w3l-dot">
            <div class="w3-heading">
              <h3>WE ARE DEVELOPING</h3>
              <h4>OUR HEALTH AND BEAUTY APP</h4>
              <br />
            </div>
          </div>
          <div class="content3">
            <p>
              <a
                class="book popup-with-zoom-anim button-isi zoomIn animated"
                data-wow-delay=".5s"
                href="#small-dialog"
                >Subscribe Us</a
              >
            </p>
          </div>
        </div>
        <div class="w3ls-left">
          <div class="w3ls-dot">
            <div class="w3-title">
              <h2>Coming soon</h2>
            </div>
            <!--timer-->
            <div class="agileits-timer">
              <div class="clock">
                <div class="column days">
                  <div class="timer" id="days"></div>
                  <div class="text">Days</div>
                </div>
                <div class="timer days"></div>
                <div class="column">
                  <div class="timer" id="hours"></div>
                  <div class="text">Hours</div>
                </div>
                <div class="timer"></div>
                <div class="column">
                  <div class="timer" id="minutes"></div>
                  <div class="text">Minutes</div>
                </div>
                <div class="timer"></div>
                <div class="column">
                  <div class="timer" id="seconds"></div>
                  <div class="text">Seconds</div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <!--//timer-->
            <div class="wthree-social">
              <div class="agileinfo-social-grids">
                  <a href="#" style="color:#000">Follow us on</a>
                  <br />
                  <br />
                <ul>
                  <li>
                    <a href="https://www.facebook.com/ibeautyconnect2020/?modal=admin_todo_tour" style="color:#000" target="blank">facebook</a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/ibeautyconnect2020/" style="color:#000" target="blank">instagram</a>
                  </li>
                  <li>
                  <a href="https://www.linkedin.com/in/wilson-shalo-b6758a124/" style="color:#000" target="blank">linkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- copyright -->
      <div class="copyright">
        <p>
          © 2020 iBeautyConnect Under Construction. All rights reserved | Design
          by
          <a href="https://ibeautyconnect.com/" target="_blank"
            >iBeautyConnect</a
          >
        </p>
      </div>
      <!-- //copyright -->
    </div>
    <!-- //main -->
    <!-- /pop-up -->
    <div class="pop-up ">
      <div id="small-dialog" class="mfp-hide book-form pop-up-img">
        <div class="icon"></div>

        <h3 class="sub-head-w3-agileits">Subscribe Us</h3>
        <form action="/api/subscribe" method="post">
          <input type="email" placeholder="Enter Your Email" required="" name="email"/>
          <input type="Submit" />
        </form>
      </div>
    </div>
    <!-- /pop-up -->
    <!--scripts-->
    <script type="text/javascript" src=" js/moment.js"></script>
    <script
      type="text/javascript"
      src=" js/moment-timezone-with-data.js"
    ></script>
    <script type="text/javascript" src="js/timer.js"></script>
    <!--popup-js-->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
      $(document).ready(function() {
        $(".popup-with-zoom-anim").magnificPopup({
          type: "inline",
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: "auto",
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: "my-mfp-zoom-in"
        });
      });
    </script>
    <!--//popup-js-->
    <!--//scripts-->
  </body>
</html>
